<h1>{{PageTitle}}</h1>
<h2>{{PageTitleSpanish}}</h2>

<div id="video-options">
  {{#each Videos}}
    <div class="video-button" id="video-{{@index}}" data-video-source="{{../MediaFolder}}/videos{{@index}}.mp4">
      <img src="../assets/images/{{../MediaFolder}}/video{{@index}}.png">
      <div class="video-prompts">
        <h3>{{Prompt}}</h3>
        <h4>{{SpanishPrompt}}</h4>
      </div>
    </div>
  {{/each}}
</div>

<!-- Video player is hidden initially and shown after a video is selected -->
<div class="hidden">
  <video id="videoPlayer" class="video-js vjs-default-skin" preload="auto" width="1200" height="520" data-screensaver="../assets/videos/{{MediaFolder}}/screensaver.mp4">
    <source src="../assets/videos/{{MediaFolder}}/video0.mp4" type='video/mp4'>
  </video>
</div>
<div id="back" class="hidden">
  <p>Back</p>
  <p>Atrás</p>
</div>
